body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 -15px;
    overflow:  hidden;
 }
header{
    height: 967px;
    background-image:  url(../img/Bacground-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header div.menu{
    height: 137px;
    background: rgba(0, 0, 0, 0.6)
}
header div.menu a img{
    display: block;
    padding-top: 49px;
    padding-left: 100px;
}
header nav ul{
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
}
header nav ul li{
    display: inline-block;
    margin-right: 46px;
}
header nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #39b9ef;
    border-bottom: solid 2px;
    text-decoration: none;
}
header div.coll-to h1{
    color: white;
    margin-top: 279px;
    font-weight: bold;
    text-align: center;
    font-size: 72px;
}
header div.coll-to h1 span{
    color: #2ebaee;
    letter-spacing: 0.5px;
}
header div.coll-to p{
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 2px;
    letter-spacing: 0.3px;
}
header div.coll-to a button{
    display: block;
    width: 216px;
    height: 51px;
    background-color: #2ebaee;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    margin: 65px auto;
}