body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 -15px;
    overflow-x: hidden;
    height: 5000px;
 }
header{
    height: 967px;
    background-image:  url(../img/Bacground-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header div.menu{
    height: 137px;
    background: rgba(0, 0, 0, 0.6)
}
header div.menu a img{
    display: block;
    padding-top: 46px;
    padding-left: 100px;
}
header nav ul{
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
}
header nav ul li{
    display: inline-block;
    margin-right: 53px;
}
header nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #39b9ef;
    border-bottom: solid 2px;
    text-decoration: none;
}
header div.coll-to h1{
    color: white;
    margin-top: 273px;
    font-weight: bold;
    text-align: center;
    font-size: 72px;
    margin-bottom: 16px;
}
header div.coll-to h1 span{
    color: #2ebaee;
}
header div.coll-to p{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
}
header div.coll-to a button{
    display: block;
    font-size: 18px;
    text-decoration: none;
    width: 216px;
    height: 51px;
    background-color: #2ebaee;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    margin: 65px auto;
}
header div.coll-to a button:hover{
    background-color: #248fb6;
}
header div.coll-to a {
    text-decoration: none;
}
.container section h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 74px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 80px;
    margin-bottom: 63px;
}
div .col-3 h3{
    margin: 50px 0 25px 0;
}
div .col-3 p{
    line-height: 25px;
    color: #878787;
}
.Our_services a{
    font-size: 14px;
    text-decoration: none;
    width: 151px;
    height: 44px;
    background-color: #2ebaee;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    margin: 53px auto;
    display: block;
    
}